.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 60px;
    background-color: #00536E;
    border-bottom: 2px solid #ddd;
  }
  
.container{
  position: relative;
  display: flex;
  align-items: center;

}

  /* Logo styling */
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Menu button styling */
  .menuButton {
    position: absolute;
    left: 5%;
    top: 30%;
  }
  
