@font-face {
    font-family: 'MADE Dillan';
    src: url('../../../public/fuentes/MADE-Dillan.otf') format('opentype');
    /* Agrega otros formatos de fuente aquí si es necesario */
}

.general{
    height: 100%;
    background-color: #018166;
}

.fondolin {
    background-color: #005b7b;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.fondo {
    width: 100%;
}

.titulo {
    width: 50%;
    margin-top: 3%;
}

.subtitulo{
   margin-top: 2%;
    width: 50%;
    border: 3px solid #d49634;
    border-radius: 1.97919rem;
}

.descripcion{
    color: #FEFFFA;
    font-family: "Open Sans";
    font-size: 1.2625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.nomBand{
    color: #d49634;
    font-family: "Open Sans";
    font-size: 1.2625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.divBanderas{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banderas {
    margin-top: 3%;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.imgBanderas {
    width: 40%; 
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: 40%; */
}

.fondo2 {
    width: 100%;
    height: auto;
    background-color: #018166;
    overflow: visible;
}

@media screen and (max-width: 768px) {

    .banderas {
        gap: 20px;
    }
    
    .imgBanderas {
        width: 50%;
    }
    .nomBand{
        font-size: 0.6625rem;
    }
    .info{
        position: absolute;
        top: 50%
    }
    .subtitulo{
         width: 70%;
     }

     .descripcion{
        font-size: 0.5625rem;
    }
  
  }