@font-face {
    font-family: 'MADE Dillan';
    src: url('../../../public/fuentes/MADE-Dillan.otf') format('opentype');
    /* Agrega otros formatos de fuente aquí si es necesario */
}

.divIf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
    background-color: #005B7B;
    border: 4px solid #d49634;
    border-radius: 1.97919rem;
}

.subtitulo{
    margin-top: 4%;
     width: 50%;
     border: 3px solid #d49634;
     border-radius: 1.97919rem;
 }
 
 .descripcion{
     color: #FEFFFA;
     font-family: "Open Sans";
     font-size: 1.2625rem;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     text-align: center;
 }

.textoYaInscripto{
    font-family: 'MADE Dillan';
    font-size: 2vw;
    color: white;
}

.textoYaInscriptoChico{
    font-family: 'MADE Dillan';
    font-size: 3vw;
    color: white;
}

.botonesInscripcion{
    width: 90%;
    margin-top: 3%;
    overflow: hidden;
    z-index: 1;
}
.textoExpInscripcion{
    width: 90%;
    margin-top: 10%;
    overflow: hidden;
    z-index: 1;
}

.confirmButton {
    width: auto;
    height: auto;
    padding: 10px 20px; /* Ajusta estos valores según sea necesario */
    font-size: 16px; /* Puedes ajustar otros estilos como el tamaño de la fuente */
  }

.fondolin {
    /* background-image: url('https://i.postimg.cc/ZqbJfBkd/Recurso-2fondo-Descubre.png'); */
    background-color: #005B7B;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98.6vw;
    height: auto;
    overflow: hidden;
  }

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
}

.Link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



.recurso{
    position: absolute;
    width: 50%;
    top:0%;
    left:50%;
    z-index: 0;
    overflow: hidden;
}

.recurso2{
    position: absolute;
    width: 100%;
    top:150%;
    left:0%;
    z-index: 0;
    overflow: hidden;
}

.TituloExp{
    width: 60%;
    margin-top: 1%;
    z-index: 1;
    overflow: hidden;
}

.subTituloExp{
    width: 50%;
    margin-top: 3%;
    overflow: hidden;
    z-index: 1;
}

.textoExp{
    width: 40%;
    margin-top: 10%;
    overflow: hidden;
    z-index: 1;
}

.botones{
    width: 25%;
    margin-top: 3%;
    overflow: hidden;
    z-index: 1;
}

.botones1{
    width: 90%;
    margin-top: 3%;
    overflow: hidden;
    z-index: 1;
}

.nombreLink{
   width: 100%;
}

.divContactos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.LinkContactos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin-top: 2%;
    margin-left: 2%;
}

.contactos{
    width: 100%;
}

.conocelas{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.divInfoPrac{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

@media screen and (max-width: 768px) {
    
    
    .recurso2{
        top:50%;
    }
    
    .TituloExp{
        width: 70%;
    }
    .subTituloExp{
        width: 70%;
    }
    .textoExp{
        width: 50%;
    }
    
    .botones{
        width: 35%;
    
    }
    .LinkContactos{
        width: 35%;
    }
    .descripcion{
        font-size: 0.8625rem;
    }
    .divIf{
        width: 70%;
    }
    .subtitulo{
         width: 80%;
     }

     .conocelas{
        width: 100%;
    }
  }