/*-------------------------------------------------------- FUENTES ------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-fuente {
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family:'GothamBlack';
  src: local("Gotham Black"),  url("./assets/fuentes/Gotham-Black.woff"), format('opentype');
  font-weight: bold;
  font-style: black;
}

@font-face{
  font-family:'GothamMedium';
  src: local("Gotham Medium"), url("./assets/fuentes/GothamMedium.ttf"), format('truetype');
  font-weight:medium;
  font-style: medium;
}

@font-face{
  font-family:'GothamLight';
  src: local("Gotham Light"), url(fuentes\GothamLight.ttf);
  font-weight: lighter;
  font-style: lighter;
}

@font-face{
  font-family:'TelorBistik';
  src: local("Telor Bistik"), url(fuentes\TelorBistik.ttf);
  font-weight: bold;
  font-style: black;
}

@font-face{
  font-family:'MADEDillan';
  src: local("MADE-Dillan"), url(fuentes\MADE-Dillan.otf);
  font-weight: bold;
  font-style: black;
}