.logOut {
    width: 100%;
    background-color: #005d7e;
    display: flex;
    flex-direction: row-reverse;
}

.imglogOut {
    width: 10%;
    margin: 2% 5% 2% 5%;
}

.fondolin {
    background-image: url('https://i.postimg.cc/ZqbJfBkd/Recurso-2fondo-Descubre.png');
    background-size: contain;
    margin-bottom: -27%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones {
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton {
    width: 25%;
    margin-right: 3%;
    margin-left: 3%;
}

.fondoInfo {
    width: 100%;
    position: relative;
}

.fondoFotos{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.fondoDash {
    width: 105%;
    margin-top: 5%;
    margin-right: -5%;
}

.grupoPequeño{
    width: 20%;
    position: absolute;
    top: 10%;
    left: 75%;
}

.userData{
    position: absolute;
    font-size: 30px;
    font-family: 'Gotham Black';
    color: white;
    top: 50%;
    left: 5%;
}


@media screen and (max-width: 768px) {
    .boton {
        width: 29%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .fondoDash {
        width: 120%;
        margin-right: -20%;
    }

    .userData{
        font-size: 15px;
        top: 25%;
    }

}