.cont_S {
  position: relative;
  height: 100vh;
}

.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}

.slider {
  display: flex;
  cursor: grab;
  transition: transform 0.3s ease;
}

.item {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70vw;
  max-width: 400px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}
