.cont_S{
height: 140vh;
 background-image: url("../../assets/fondo1.webp");
}
.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
 
}
.title_Spoiler {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  color: blue;
  font-size: 40px;
  z-index: 10;
}

.circulo {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
  height: 100vh;
  width: 100vh;
  z-index: 0;
  text-align: center;
}


.cont_s{
  position: absolute;
  height: 100%;
  width: 100%;
}

.slider {
  display: flex;
  cursor: grab;
}

.item {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 400px;
  z-index: 1;
}


@media (max-width: 768px) {
  .slider {}

  .circulo {
    width: 100vw;
    height: 100vh;
  }

  .item {

    width: 300px;
  }
}

@media (max-width: 480px) {
  .circulo {
   
    height: 100vh;

  }
  .circulo img {
    width: 100%;
  }

  .item {

    width: 300px;
  }
}