.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: white;
    font-family: "Mulish";
    font-weight: 900;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {

    .global {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #005B7B;
    }

    .container {
        width: 40vw;
        overflow: hidden;
    }
}



/* -----------------------------------------------------------PORTADA----------------------------------------------------------- */

.videoContainer {
    width: 80%;
    height: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.portadita{
    width: 100%;
    height: 100%;
    margin-bottom: -13%;
    z-index: 1;
    margin-top: 6%;
}

.video {
    width: 80%;
    height: 60vh;
}

/* -----------------------------------------------------------MAPA----------------------------------------------------------- */

.mapaTextoContainer {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    position: relative;
    
}

.svgMapa {
    position: absolute;
    width: 40%;
    left: 0;
    top: 0;
    z-index: 0;
}

.textoMapa {
    font-family: "Mulish";
    font-weight: 1000;
    font-size: 1.7rem;
    color: #66B072;
    margin-top: 10%;
    margin-bottom: 0%;
    z-index: 1;
    text-align: left;
    margin-left: 20%;
}

.textoMapa1 {
    font-family: "Mulish";
    font-weight: 1000;
    font-size: 1.7rem;
    color: #00536E;
    margin-bottom: 5%;
    margin-top: 0;
    z-index: 1;
    text-align: left;
    margin-left: 20%;
}

.mapaContainer {
    width: 160%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(90deg);
    margin-top: 30%;
    margin-bottom: 30%;
    border: #005B7B 0.2rem solid;
}

/* -----------------------------------------------------------SPOILER----------------------------------------------------------- */

.SpoilerContainer {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.spoilerTitle {
    font-size: 8.5rem;
    font-weight: bold;
    color: black;
    margin: 0;
    font-family: "Gotham Black";
}


/* -----------------------------------------------------------DEVOCIONAL----------------------------------------------------------- */
.devocionalContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.libro {
    position: absolute;
    left: -10%;
    top: 0%;
    z-index: 1;
}

.devocionalTitle {
    display: flex;
    align-items: center;
    width: 100%;
}

.devo1er {
    font-family: "Mulish";
    font-weight: 900;
    font-size: 3.2rem;
    color: #00536E;
    margin-bottom: -5%;
}

.devoCional {
    font-family: "Mulish";
    font-weight: 900;
    color: black;
    font-size: 2rem;
    margin-top: 0;
}

.nombreDevo {
    font-family: "Mulish";
    font-weight: 900;
    color: #005D7E;
    font-size: 1.7rem;
    margin-top: 0;
}

.fechaDevo {
    font-family: "Mulish";
    font-weight: 700;
    color: #B1B1B1;
    font-size: 1.2rem;
    margin-top: 0;
}

.hechopor {
    font-family: "Mulish";
    font-weight: 600;
    color: #000000;
    font-size: 1.2rem;
    margin-top: 0;
}

/* -----------------------------------------------------------CRISTIANO GLOBAL----------------------------------------------------------- */

.cristianoGlobalContainer {
    margin-top: 10%;
    width: 100%;
    position: relative;
    background-color: transparent;
    margin-left: -20%;
    margin-top: -10%;
    margin-bottom: -10%;
}

.textoCGContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cristianoGlobal {
    margin-left: 5%;
    z-index: 1;
}

.divTextoCG {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloCG {
    font-family: "Gotham Black";
    font-weight: bold;
    font-size: 0.909rem;
    color: #000000;
    margin-bottom: 0%;
}

.tituloCGdiv {
    display: flex;
    width: 100%;
    justify-content: left;
}

.svgCG {
    text-align: left;
}

.textoCG {
    font-family: "Mulish";
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    margin-top: 0%;
}

/* -----------------------------------------------------------FOTOS DIA ANTERIOR----------------------------------------------------------- */

.fotosdiaanteriorcontainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* -----------------------------------------------------------EXPERIMENTA----------------------------------------------------------- */

.seccionExperimenta {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divTextoExpe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloExp {
    font-family: "Mulish";
    font-weight: 800;
    font-size: 1.7rem;
    text-align: center;
}

.subtituloExp {
    font-family: "Mulish";
    font-weight: 800;
    font-size: 1.2rem;
    text-align: left;
    background-color: #1D80A7;
    color: white;
}

.textoExpe {
    width: 80%;
    font-family: "Mulish";
    font-weight: 600;
    font-size: 1rem;
    color: #000000;
    margin-top: 0%;
}

.divMerch{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-top: 10%;
}
.fotomerch{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -8%;
    left: 0%;

}


@media screen and (max-width: 768px) {
    .video {
        width: 100%;
        height: 100%;
    }

    .spoilerTitle {
        font-size: 4.6rem;
    }
}


.simVideo {
    width: 100%;
    height: auto;
    z-index: 2;
}

.intervencionesContainer{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.herramientasLinkContainer{
    width: 87%;
    height: 87%;
    z-index: 2;
}

.imageHerramientas{
    width: 100%;
    height: 100%;
}

.instagramContainer{
    width: 87%;
    height: 87%;
}

/* -------------------------------------------------------------COLORES------------------------------------------------------------------ */

.colorLetra {
    color: #00536E;
    background-color: transparent;
    font-weight: bold;
}

.colorAzul {
    background: #00536E;
    color: white;
}

.subrrallado {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #E98900;
    text-decoration-thickness: 0.2rem;
}