

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: white;
    font-family: "Mulish";
    font-weight: 900;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {

    .global{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #005B7B;
    }

    .container {
        width: 40vw;
        overflow: hidden;
    }
}



/* -----------------------------------------------------------PORTADA----------------------------------------------------------- */

.videoContainer {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    width: 80%;
    height: 60vh;
}

/* -----------------------------------------------------------MAPA----------------------------------------------------------- */
.mapContainer {
    width: 100vw;
    height: 50vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.svgmap {
    position: absolute;
    left: 0%;
    top: 25%;
    z-index: 3;
}

/* -----------------------------------------------------------SPOILER----------------------------------------------------------- */

.SpoilerContainer {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.spoilerTitle {
    font-size: 8.5rem;
    font-weight: bold;
    color: black;
    margin: 0;
    font-family: "Gotham Black";
}


/* -----------------------------------------------------------DEVOCIONAL----------------------------------------------------------- */
.devocionalContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.libro {
    position: absolute;
    left: -10%;
    top: 0%;
    z-index: 1;
}

.textoDevo {
    position: absolute;
    right: 2%;
    top: 0%;
    z-index: 3;
}

.devo1er {
    font-family: "Mulish";
    font-weight: 900;
    font-size: 3.2rem;
    color: #00536E;
    margin-bottom: 0%;
}

.devoCional {
    font-family: "Mulish";
    font-weight: 900;
    color: black;
    font-size: 2rem;
    margin-top: -3%;
    letter-spacing: -1;

}


/* -----------------------------------------------------------CRISTIANO GLOBAL----------------------------------------------------------- */

.cristianoGlobalContainer {
    margin-top: 10%;
    width: 100%;
    position: relative;
    background-color: transparent;
    margin-left: -20%;
    margin-top: -10%;
    margin-bottom: -10%;
}

.textoCGContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cristianoGlobal {
    margin-left: 5%;
    z-index: 1;
}

/* .svgOracion{
    z-index: 1;
} */

.svgCG {
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
}

.divTextoCG {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloCG {
    font-family: "Gotham Black";
    font-weight: bold;
    font-size: 0.909rem;
    color: #000000;
    margin-bottom: 0%;
}

.tituloCGdiv {
    display: flex;
    align-items: left;
}

.textoCG {
    font-family: "Gotham Medium";
    font-size: 1rem;
    color: #000000;
    margin-top: 0%;
}

/* -----------------------------------------------------------FOTOS DIA ANTERIOR----------------------------------------------------------- */

.fotosdiaanteriorcontainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* -----------------------------------------------------------EXPERIMENTA----------------------------------------------------------- */

.seccionExperimenta {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divTextoExpe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoExpe {
    width: 80%;
    font-family: "Gotham Medium";
    font-size: 1rem;
    color: #000000;
    margin-top: 0%;
}

@media screen and (max-width: 768px) {
    .video {
        width: 100%;
        height: 100%;
    }

    .spoilerTitle {
        font-size: 4.6rem;
    }
}


.simVideo {
    width: 80%;
    height: 60vh;
    background-color: #F2F2F2;
    margin-top: 20%;
    z-index: 2;
}


/* -------------------------------------------------------------COLORES------------------------------------------------------------------ */

.colorLetra {
    color: #00536E;
    background-color: transparent;
    font-weight: bold;
}

.colorAzul {
    background: #00536E;
    color: white;
}

.subrrallado {
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #E98900;
    text-decoration-thickness: 0.2rem;
}