.fondolin {
    background-image: url('https://i.postimg.cc/ZqbJfBkd/Recurso-2fondo-Descubre.png');
    background-size: contain;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro {
    width: 100%;
}

.imgRa {
    margin-left: 20%;
    margin-top: 1%;
    width: 60%;
}

.imgInscripciones {
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
}

.logeo{
    margin-top: 3%;
    width: 100%;
    margin-bottom: 3%;
}

.imgYateInsc{
    width: 30%;
    margin-top: 2%;
    margin-left: 33%;
}

.imgNuestrasPromos{
    width: 50%;
    margin-left: 25%;
}

.imgIngreso{
    margin-left: 35%;
    width: 30%;
}

.cortes{
    width: 100%;
    margin-top: 5%;
}

.corteUno{
    width: 40%;
    margin-left: 30%;
}

.otrosCortes{
    width: 70%;
    margin-top: 4%;
    margin-left: 15.5%;
}

.salvedades{
    width: 80%;
    margin-top: 3%;
}

.preguntasFrecuentes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.pfTitulo{
    width: 70%;
    margin-top: 5%;
}
.pfCuadros{
    width: 70%;
    margin-top: 2%;
}

.botonPF{
    margin-top: 3%;
}
.contBoton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .registro {
        margin-top: 5%;
    }
    .imgRa {
        margin-left: 10%;
        width: 80%;
    }
    .imgInscripciones {
        width: 50%;
        margin-left: 25%;
    }
    .fondolin {
        height: 100%;
    }
    .imgNuestrasPromos{
        width: 70%;
        margin-left: 15%;
    }
    .corteUno{
        width: 60%;
        margin-left: 20%;
    }
    .otrosCortes{
        width: 90%;
        margin-top: 4%;
        margin-left: 5%;
    }
    .pfCuadros{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 7%;
    }
    .botonPF{
        width: 50%;
    }
}