.fondolin {
    background-image: url('https://i.postimg.cc/ZqbJfBkd/Recurso-2fondo-Descubre.png');
    background-size: contain;
    margin-bottom: -27%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro {
    margin-top: 3%;
    width: 100%;
}

.imgRa {
    margin-left: 20%;
    width: 60%;
}

.imgInscripciones {
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
}

.logeo{
    margin-top: 3%;
    width: 100%;
}

.imgYateInsc{
    width: 60%;
    margin-left: 17%;
}

.imgIngreso{
    margin-left: 32%;
    width: 40%;
}

.cortes{
    width: 100%;
    margin-top: 5%;
}

.corteUno{
    width: 60%;
    margin-left: 20%;
}

.otrosCortes{
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
}

@media screen and (max-width: 768px) {
    .registro {
        margin-top: 30%;
    }
    .imgInscripciones {
        width: 80%;
        margin-left: 10%;
    }
    .fondolin {
        height: 100vh;
    }
}