.container_speakers{
    margin: 10% 0px;
    width: 80vw;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.banner_sup{
    width: 100%;
    min-height: 50%;
    border-radius: 1rem;
    z-index: 3;
}
.detalle_fondo1{
    position: absolute;
    left: 5%;
    width: 13%;
    top: 10%;
}


.detalle_fondo2{
    position: absolute;
    right: 0;
    width: 25%;
    margin-top: 25rem;
}

.cards_speaker{
    width: 100%;
    border: 1px solid blue;
    min-height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.orador_card{
    width: 20%;
    padding:20px 0px 0px 1px;
}