.conteiner{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCarpeta{
    height: 100vh;
}

@media screen and (max-width: 768px) {

.imgCarpeta{
    width: 100%;
    height: 100%;
}
}