.result-list{
   position: absolute;
    width: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 99;
}

.result-list li{
    position: relative;
    cursor: pointer;
}