.fondo1 {
  background-image: url("https://i.postimg.cc/FsF2CnZV/collage-2025.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fondoplx {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 100%;
  width: 540px;
}

.sublogo {
  max-width: 100%;
  width: 260px;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 300px;
  }

  .sublogo {
    width: 160px;
  }
}

.banderas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.bandera {
  width: 17%;
  max-width: 80%;
  padding: 1vw;
}

.contenedorvideo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.reactPlayer {
  width: 100%;
  height: 3000px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .contenedorvideo .reactPlayer {
    max-width: 100%;
  }
}

/*-------------------------------------------------------------secciones----------------------------------------------------------*/

.fondolin {
  background-image: url('https://i.postimg.cc/ZqbJfBkd/Recurso-2fondo-Descubre.png');
  background-size: contain;
}



.conteinerelative {
  position: relative;
}


/*-------------------------------------------------------------DESCUBRE----------------------------------------------------------*/

.descubrediv {
  width: 100%;
}

.Descubretext {
  width: 80%;
  margin-left: 10%;

}

.descubreimg {
  width: 70%;
  margin-top: 40px;
  margin-left: -27px;
}

.des {
  width: 40%;
  margin-left: 15%;
  margin-top: 40px;
}

.exp {
  width: 51%;
  margin-left: 20%;
}

.cima {
  width: 20%;
  margin-left: 10px;
}



.textoexp {
  position: absolute;
  top: 30%;
  left: 60%;
  font-family: 'Gotham Medium';
  font-size: 24px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .descubreimg {
    width: 70%;
    margin-left: -9px;
  }

  .Descubretext {
    width: 100%;
    margin-left: 0%;
  }

  .des {
    margin-left: 10%;
  }

  .exp {
    margin-left: 15%;
  }

  .textoexp {
    font-size: 10px;
    top: 39%;
    left: 50%;
  }
}

/*-------------------------------------------------------------ORADORES----------------------------------------------------------*/

.oradoresdiv {
  background-size: cover;
  width: 100%;
}

.oradoresimg {
  width: 100%;
}


.divTextoOradores {
  position: relative;
}

.textoOra {
  position: absolute;
  top: 45%;
  left: 10%;
  font-family: 'Gotham Medium';
  font-size: 30px;
  text-align: left;
}

.imagenesOradores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
}

.imageneOradores {
  width: 25%;
  margin: 30px;
}

@media screen and (max-width: 768px) {
  .oradoresimg {
    width: 90%;
    margin-left: 37px;
  }

  .textoOra {
    top: 45%;
    left: 8%;
    font-family: 'Gotham Medium';
    font-size: 10px;
    text-align: left;
  }

  .imageneOradores {
    width: 35%;
    margin: 20px;
  }
}

/*---------------------------------------------------------TALLERES Y PLENARIAS----------------------------------------------------------*/

.talleresDiv {
  margin-top: 40px;
}

.talleresImg {
  width: 60%;
  margin-left: 30px;
}

.divTextoTalleres {
  position: relative;
}

.textoTalleres {
  position: absolute;
  top: 25%;
  left: 65%;
  font-family: 'Gotham Medium';
  font-size: 35px;
  text-align: left;
}

@media screen and (max-width: 768px) {

  .talleresDiv {
    margin-top: 10px;
  }

  .talleresImg {
    width: 50%;
    margin-left: 20px;
  }

  .textoTalleres {
    position: absolute;
    top: 5%;
    left: 60%;
    font-family: 'Gotham Medium';
    font-size: 10px;
    text-align: left;
  }
}

.carouselSlide {
  margin-top: 30px;
}


.divSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.textoSlide {
  font-family: 'Gotham Medium';
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {

  .textoSlide {
    font-family: 'Gotham Medium';
    font-size: 8px;
    text-align: center;
    padding: 10px;
  }
}

.divOper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.imgOper {
  width: 90%;
}


.textoOper {
  align-self: flex-start;
  margin-left: 10%;
  font-family: 'Gotham Medium';
  font-size: 35px;
  text-align: left;
}

.divProg {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.imgProg {
  width: 90%;
}


.textoProg {
  align-self: flex-end;
  margin-right: 10%;
  font-family: 'Gotham Medium';
  font-size: 35px;
  text-align: right;
}

@media screen and (max-width: 768px) {

  .textoOper {
    font-size: 10px;
  }


  .textoProg {
    font-size: 10px;
  }

}