.fondo1 {
  background-image: url("https://i.postimg.cc/KvGxj7mH/collage-2025.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fondoplx {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 100%;
  width: 540px;
}

.sublogo {
  max-width: 100%;
  width: 260px;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .fondo1 {
    background-image: url("https://i.postimg.cc/1zyW4z9N/collage-para-celu.jpg");
    background-size: 100%;
  }

  .logo {
    width: 300px;
  }

  .sublogo {
    width: 160px;
  }
}

.banderas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.bandera {
  width: 17%;
  max-width: 80%;
  padding: 1vw;
}

.contenedorvideo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

}


.reactPlayer {
  height: 50vh;
  width: 50%;
}



/*-------------------------------------------------------------secciones----------------------------------------------------------*/

.fondolin {
  background-image: url('https://i.postimg.cc/ZqbJfBkd/Recurso-2fondo-Descubre.png');
  background-size: contain;
  margin-bottom: -27%;
}



.conteinerelative {
  position: relative;
}


/*-------------------------------------------------------------DESCUBRE----------------------------------------------------------*/

.descubrediv {
  width: 100%;
}

.Descubretext {
  width: 80%;
  margin-left: 10%;

}

.descubreimg {
  width: 70%;
  margin-top: 40px;
  margin-left: -27px;
}

.des {
  width: 40%;
  margin-left: 15%;
  margin-top: 40px;
}

.exp {
  width: 51%;
  margin-left: 20%;
}

.cima {
  width: 20%;
  margin-left: 10px;
}

.textoexp {
  position: absolute;
  top: 30%;
  left: 55%;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .descubreimg {
    width: 70%;
    margin-left: -9px;
  }

  .Descubretext {
    width: 100%;
    margin-left: 0%;
  }

  .des {
    margin-left: 10%;
  }

  .exp {
    margin-left: 15%;
  }

  .textoexp {
    font-size: 10px;
    top: 39%;
    left: 55%;
    width: 40%;
  }
}

.expeDiv {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.experimentarelative {
  position: relative;
}

.expe {
  position: absolute;
  width: 50%;
  margin-left: 25%;
}

.expetexto {
  position: absolute;
  width: 60%;
  top: 30%;
  left: 10%;
}

.experimentaImg {
  width: 50%;
  margin-left: 50%;
}

/*-------------------------------------------------------------ORADORES----------------------------------------------------------*/

.oradoresdiv {
  background-size: cover;
  width: 100%;
}

.oradoresimg {
  width: 100%;
  right: 0;
}


.divTextoOradores {
  position: relative;
}

.textoOra {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 40%;
}

.imagenesOradores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imageneOradores {
  width: 100%;
}


.divimagenesOradores {
  width: 100%;
}


.imagenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.cartelito {
  width: 80%;
  margin-top: -9%;
}

@media screen and (max-width: 768px) {

  .imagenesOradores {
    width: 100%;
  }


  .imageneOradores {
    width: 100%;
  }

}

/*---------------------------------------------------------TALLERES Y PLENARIAS----------------------------------------------------------*/

.talleresDiv {
  margin-top: 40px;
}

.talleresImg {
  width: 60%;
  margin-left: 30px;
}

.divTextoTalleres {
  position: relative;
}

.textoTalleres {
  position: absolute;
  top: 25%;
  left: 65%;
  width: 30%;
}

.divSlide {
  margin-top: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* Oculta el contenido que se desborde */
  word-wrap: break-word;
  /* Rompe palabras largas para que se ajusten */
  white-space: normal;
}

.tyPSlide {
  text-align: center;
}

.imgTyP {
  height: 4vw;
  padding: 10px 10px 10px 0;
}


@media screen and (max-width: 768px) {

  .talleresDiv {
    margin-top: 10px;
  }

  .talleresImg {
    width: 50%;
    margin-left: 20px;
  }

  .textoTalleres {
    position: absolute;
    top: 9%;
    left: 60%;
  }

  .imgTyP {
    height: 5vw;
    padding: 5px 5px 0px 0;
  }

}


/*---------------------------------------------------------OPERACION CIMA----------------------------------------------------------*/


.divOper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

.imgOper {
  width: 90%;
}

.ubiCarusel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divoptexto {
  width: 50%;
  margin-left: 5%;
}

.divopfotos {
  width: 50%;
  height: 400px;
  margin-right: 5%;
}


.textoOper {
  margin-left: 2%;
  width: 90%;
}

.imgCarucel {
  width: 30%;
  height: 30%;
}

/*---------------------------------------------------------PROGRAMA PASTORES----------------------------------------------------------*/


.divProg {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.imgProg {
  width: 90%;
}

.divPpPtexto {
  width: 50%;
  margin-left: 5%;
}

.textoProg {
  margin-left: 2%;
  width: 90%;
}

.CaruselPpP {
  width: 50%;
  height: 50%;
  margin-left: 5%;
}

@media screen and (max-width: 768px) {

  .ubiCarusel {
    flex-direction: column;
  }

  .divopfotos {
    margin-top: 5%;
    width: 80%;
    height: auto;
    margin-right: 0%;
  }

  .divProg {
    margin-bottom: 30px;
  }

  .textoOper {
    margin-top: 10%;
    width: 100%;
  }


  .textoProg {
    margin-left: 0%;
    margin-top: 5%;
  }

  .CaruselPpP {
    margin-top: 10%;
    width: 90%;
    height: auto;
    margin-left: 0%;
  }

  .divoptexto {
    width: 80%;
    margin-left: 0%;
  }

  .divPpPtexto {
    width: 80%;
  }
}

/*---------------------------------------------------------EXPERIMENTA----------------------------------------------------------*/

.experimentaDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TituloExp {
  width: 70%;
}

.maparelative {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  margin-top: 5%;
  width: 70%;
}

.pointArg {
  position: absolute;
  width: 2.5%;
  top: 79%;
  left: 32.5%;
}

.pointChi {
  position: absolute;
  width: 2.5%;
  top: 81%;
  left: 30%;
}

.pointPer {
  position: absolute;
  width: 2.5%;
  top: 69%;
  left: 28.5%;
}

.pointBol {
  position: absolute;
  width: 2.5%;
  top: 72%;
  left: 31%;
}
.pointPar {
  position: absolute;
  width: 2.5%;
  top: 72%;
  left: 33.5%;
}
.pointUru {
  position: absolute;
  width: 2.5%;
  top: 74%;
  left: 36%;
}
.pointBra {
  position: absolute;
  width: 2.5%;
  top: 66%;
  left: 36%;
}
.pointEcu {
  position: absolute;
  width: 2.5%;
  top: 63%;
  left: 27%;
}
.pointCol {
  position: absolute;
  width: 2.5%;
  top: 57%;
  left: 28.5%;
}
.pointKen {
  position: absolute;
  width: 2.5%;
  top: 64%;
  left: 53.5%;
}
.pointSen {
  position: absolute;
  width: 2.5%;
  top: 54%;
  left: 41%;
}
.pointEsp {
  position: absolute;
  width: 2.5%;
  top: 40%;
  left: 43.5%;
}
.pointAlb {
  position: absolute;
  width: 2%;
  top: 41%;
  left: 49%;
}
.pointMac {
  position: absolute;
  width: 2%;
  top: 40%;
  left: 50%;
}
.pointTur {
  position: absolute;
  width: 2.5%;
  top: 41%;
  left: 52%;
}
.pointTai {
  position: absolute;
  width: 2.5%;
  top: 54%;
  left: 68.5%;
}

.exprelative {
  position: relative;
  width: 100%;
}

/*modal experimenta*/

.modal{
  position: absolute;
  width: 100%;
}

.modalContenido{
  width: 100%;
}

.imagenGrande{
  width: 50%;
  margin-top: 12%;
  margin-left: 24%;
}



.latam {
  position: absolute;
  width: 40%;
  top: 5%;
  left: 9%;
}

.africa {
  position: absolute;
  width: 23%;
  top: 5%;
  left: 49%;
}

.europa {
  position: absolute;
  width: 25%;
  top: 5%;
  left: 74%;
}

.asia {
  position: absolute;
  width: 22%;
  top: 55%;
  left: 73%;
}

.transoceanicas {
  width: 70%;
  margin-left: -2%;
}

@media screen and (max-width: 768px) {

  .mapa {
    width: 95%;
  }

  .latam {
    left: 10%;
  }

  .africa {
    left: 50%;
  }


  .pointArg {
    width: 3%;
    left: 26%;
  }
  
  .pointChi {
    width: 3%;
    left: 23%;
  }
  
  .pointPer {
    width: 3%;
    left: 21%;
  }
  
  .pointBol {
    width: 3%;
    left: 24%;
  }
  .pointPar {
    width: 3%;
    left: 27%;
  }
  .pointUru {
    width: 3%;
    left: 30%;
  }
  .pointBra {
    width: 3%;
    left: 30%;
  }
  .pointEcu {
    width: 3%;
    left: 19%;
  }
  .pointCol {
    width: 3%;
    left: 20%;
  }
  .pointKen {
    width: 3%;
    left: 54%;
  }
  .pointSen {
    width: 3%;
    left: 38%;
  }
  .pointEsp {
    width: 3%;
    left: 41%;
  }
  .pointAlb {
    left: 50%;
  }
  .pointMac {
    left: 51%;
  }
  .pointTur {
    width: 3%;
    left: 53%;
  }
  .pointTai {
    width: 3%;
    left: 75%;
  }
  

  .imagenGrande{
    width: 70%;
    margin-top: 12%;
    margin-left: 16%;
  }
}

/*---------------------------------------------------------FOOTER----------------------------------------------------------*/

.footer {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.imgFooter {
  width: 75%;
  margin-left: -30%
}

.primertexto {
  width: 70%;
}

.videoIns {
  width: 65%;
  height: 500px;
}

@media screen and (max-width: 768px) {
  .videoIns {
    width: 90%;
    height: 200px;
  }
}

.mediofooter {
  width: 100%;
  margin-right: 6%;
}

.imgMedioFoot {
  width: 100%;
}

.mediotextofooter {
  width: 90%;

}

.contactanos {
  width: 100%;
  height: 100%;
}

.contaImg {
  width: 60%;
  height: 100%;
  margin-top: 5%;
  margin-left: -10%;
}

.finalFooter {
  width: 100%;
  height: 100%;
  justify-content: center;

}

.finalImg {
  width: 100%;
  margin-top: 5%;
  margin-left: -20%;
}

.mundoLineas {
  width: 80%;
}

.movidaNet {
  width: 100%;
  margin-bottom: 5%;
}

.linkmovidaNet {
  width: 30%;
  margin-top: 2%;
}

/*---------------------------------------------------------INFO PAISES----------------------------------------------------------*/


.infoArg {
  width: 28%;
  position: absolute;
  left: 20%;
  margin-top: 10%;
}

.igArg {
  width: 3%;
  position: absolute;
  left: 23.5%;
  margin-top: 15%;
}

.fcArg {
  width: 3%;
  position: absolute;
  left: 20%;
  margin-top: 15%;
}

.infoBol {
  width: 26%;
  position: absolute;
  left: 20%;
  margin-top: 25%;
}

.igBol {
  width: 3%;
  position: absolute;
  left: 23.5%;
  margin-top: 30.6%;
}

.fcBol {
  width: 3%;
  position: absolute;
  left: 20%;
  margin-top: 30.6%;
}

.infoPar {
  width: 26%;
  position: absolute;
  left: 20%;
  margin-top: 40%;
}

.igPar {
  width: 3%;
  position: absolute;
  left: 23.5%;
  margin-top: 45%;
}

.fcPar {
  width: 3%;
  position: absolute;
  left: 20%;
  margin-top: 45%;
}

.infoUru {
  width: 28%;
  position: absolute;
  left: 55%;
  margin-top: 10%;
}

.igUru {
  width: 3%;
  position: absolute;
  left: 58.5%;
  margin-top: 15%;
}

.fcUru {
  width: 3%;
  position: absolute;
  left: 55%;
  margin-top: 15%;
}

.infoPer {
  width: 28%;
  position: absolute;
  left: 55%;
  margin-top: 25%;
}

.igPer {
  width: 3%;
  position: absolute;
  left: 58.5%;
  margin-top: 30.6%;
}

.fcPer {
  width: 3%;
  position: absolute;
  left: 55%;
  margin-top: 30.6%;
}

.infoChi {
  width: 28%;
  position: absolute;
  left: 55%;
  margin-top: 40%;
}

.igChi {
  width: 3%;
  position: absolute;
  left: 58.5%;
  margin-top: 45.5%;
}

.fcChi {
  width: 3%;
  position: absolute;
  left: 55%;
  margin-top: 45.5%;
}

@media screen and (max-width: 768px) {

  .mundoLineas {
    width: 100%;
    margin-left: -10%;
  }

  .finalImg {
    width: 75%;
    margin-top: 5%;
    margin-left: -10%;
  }

  .infoArg {
    width: 38%;
    left: 11%;
  }

  .igArg {
    width: 5%;
    left: 14.5%;
    margin-top: 17%;
  }

  .fcArg {
    width: 5%;
    left: 9%;
    margin-top: 17%;
  }

  .infoBol {
    width: 37%;
    left: 11%;
  }

  .igBol {
    width: 5%;
    left: 14.5%;
    margin-top: 32.6%;
  }

  .fcBol {
    width: 5%;
    left: 9%;
    margin-top: 32.6%;
  }

  .infoPar {
    width: 38%;
    left: 11%;
  }

  .igPar {
    width: 5%;
    left: 14.5%;
    margin-top: 47%;
  }

  .fcPar {
    width: 5%;
    left: 9%;
    margin-top: 47%;
  }

  .infoUru {
    width: 38%;
    left: 55%;
    margin-top: 10%;
  }

  .igUru {
    width: 5%;
    left: 58.5%;
    margin-top: 17%;
  }

  .fcUru {
    width: 5%;
    left: 53%;
    margin-top: 17%;
  }

  .infoPer {
    width: 38%;
    left: 55%;
    margin-top: 25%;
  }

  .igPer {
    width: 5%;
    left: 58.5%;
    margin-top: 32.6%;
  }

  .fcPer {
    width: 5%;
    left: 53%;
    margin-top: 32.6%;
  }

  .infoChi {
    width: 38%;
    left: 55%;
    margin-top: 40%;
  }

  .igChi {
    width: 5%;
    left: 58.5%;
    margin-top: 47.5%;
  }

  .fcChi {
    width: 5%;
    left: 53%;
    margin-top: 47.5%;
  }

}