.contenedorForm h1{
  margin-top: 25%;
  font-size: 3rem;
    text-align: center;
}
.contenedorForm h2{
  font-size: 2.5rem;
  /* background-color: aqua; */
  width: 100%;
}
.react-datepicker{
  background-color: antiquewhite !important;
}
.Form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*/////// input DATA///*/
.react-datepicker-wrapper {
  width: 100% !important;
}
#fechaNacimiento{
  width: 100% !important;
}
/*Contenedores de check*/
.cont_Checkbox{
  display: flex;
  align-items: center;
  width: 90%;
}

.cont_Checkbox p{
  margin: 2em 1em;
}
.inputGroup {

  font-family: 'Segoe UI', sans-serif;
  margin:0.8em 0 0.8em 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  outline: none;
}
input:valid ~ label{
  top: 0;
  background-color: rgb(255, 255, 255);
  padding: 0 5px;
}
.inputGroup label {
  font-size: 100%;
  left: 0;
  padding: 0.8em;
  margin-left: 1.3em;
  pointer-events: none;
  position: absolute;
  color: rgb(100, 100, 100);
  top: 50%;
  left: 15px;
  transition: all 0.3s ease;
  transform: translateY(-50%);
  pointer-events: none;
  
}

.inputGroup input:focus ~label{
  top:0;
  left:15px;
  font-size: 16px;
  padding: 0 2px;
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: rgb(255, 255, 255);
  border: none;
}

.inputGroup :is(input:focus, input:valid,select:focus ) {
  border-color: rgb(150, 150, 200);
}

  .inputGroup select {
    font-size: 100%;
    padding:0.7em 2.5em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 104%;
    outline: none;
    margin-bottom: 1em;
  }
  /*-------------------------INPUT PHONE------------------------*/
  .container_inputPhone{
    width: 100%;
    display: flex;
  }
 
  
  
/*--------------------------------checkbox-------------------------------*/
.checkbox *,
.checkbox *:after,
.checkbox *:before {
  display: flex;
box-sizing: border-box;
}

.checkbox input {
position: absolute;
opacity: 0;
}

.checkbox input:checked + label svg path {
stroke-dashoffset: 0;
}

.checkbox input:focus + label {
transform: scale(1.03);
}

.checkbox input + label {
display: block;
border: 2px solid rgb(150, 150, 200);
width: var(--size);
height: var(--size);
border-radius: 6px;
cursor: pointer;
transition: all .2s ease;
}

.checkbox input + label:active {
transform: scale(1.05);
border-radius: 12px;
}


.checkbox input + label svg {
pointer-events: none;
padding: 5%;
}

.checkbox input + label svg path {
fill: none;
stroke: rgb(142, 54, 54);
stroke-width: 4px;
stroke-linecap: round;
stroke-linejoin: round;
stroke-dasharray: 100;
stroke-dashoffset: 101;
transition: all 250ms cubic-bezier(1,0,.37,.91);
}
/*/////////////////////button Submit///*/
button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 4em;
  width: 20%;
  justify-content: center;
}


button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg_wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(8em);
}


button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/* media query btn*/
@media (max-width: 700px) {

}
  .error{
    
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Segoe UI', sans-serif;
    color: red;
  }
  
  
